<h1>Button</h1>
<button mat-button color="primary">Primary India</button><br />

<h1>Button Toggle</h1>
<mat-button-toggle value="bold" #btns checked disableRipple
  >Bold</mat-button-toggle
>{{ btns.checked }}

<h1>Button Groups</h1>
<mat-button-toggle-group #toggleGroup="matButtonToggleGroup">
  <mat-button-toggle value="Angular">Angular</mat-button-toggle>
  <mat-button-toggle value="React">React</mat-button-toggle>
  <mat-button-toggle value="Vue">Vue</mat-button-toggle>
</mat-button-toggle-group>
{{ toggleGroup.value }}

<h1>Icons</h1>
<!--Text from Material ICON-->
<mat-icon color="primary">home</mat-icon>
<mat-icon>grade</mat-icon>
<mat-icon>Done</mat-icon>

<h1>Badges</h1>

<button
  mat-raised-button
  color="primary"
  matBadge="8"
  matBadgePosition="before"
  matBadgeColor="accent"
>
  Action</button
><br />

<!--Badge overlapping-->
<span matBadge="4" matBadgeOverlap="false">Text with a badge</span><br />
<!--badge size-->
<span matBadge="1" matBadgeSize="large">Text with large badge</span><br />

<button
  mat-raised-button
  matBadge="7"
  [matBadgeHidden]="hidden"
  (click)="toggleBadgeVisibility()"
>
  Hide</button
><br />

<p>
  Icon with a badge
  <mat-icon matBadge="15" matBadgeColor="warn">home</mat-icon>
</p>
<br /><br />

<div>
  <h1>Progress spinner</h1>
  <div>
    <mat-spinner *ngIf="show"></mat-spinner>
    <button (click)="showSpinner()">Load Data</button>
  </div>
  <div>
    <p>Mat progress spinner</p>
    <mat-progress-spinner [value]="load"></mat-progress-spinner>
    <button (click)="loadspinner()">Loading</button>
  </div>
</div>
